:root{
	--background: #f8f8f8;
	--text: #444;
	--borders: #d5d5d5;
	--highlight: #e5ae49;
	--highlight-dark: #b52501;
}

body{max-width: 900px;
	font-family: 'Open Sans', sans-serif;
	color:var(--text);
	background: var(--background);
	margin:40px auto;
	background-image:url("./resources/background.jpg");
	background-size:cover;
}

#maincontent{
	padding:25px 25px;
	border-style:solid;
	border-width:thin;
	border-radius: 10px;
	border-color:var(--borders);
	background: var(--background);
	box-shadow: 2px 2px 4px var(--text);
}

#header{
	overflow: hidden;
}

#titlecard{
	float: left;
}

#headerlinkcontainer{
	float:right;
}

span.headerlink{
	float: right;
	margin: 25px;
}

div.maincontainer{
	margin: 20px 0px;
	overflow: hidden;
}

div.leftbox{
	float: left;
	max-width: 61.2%;
}

div.rightbox{
	max-width: 33%;
	float: right;
}

div.altleftbox{
	max-width: 33%;
	float: left;
}

/* MAGA hat decidedly NOT included */
div.altrightbox{
	max-width: 61.2%;
	float: right;
}

div.content{
	margin: 0px 10px;
}

div.projectbox{
	border-style:solid;
	border-color: var(--text); 
	border-radius: 10px;
	border-width: thin;
	margin: 10px 0px;
	padding: 10px;
	overflow: hidden;
}

img{
	border-radius: 10px;
	background-size:contain;
	width: 100%;
	height: 100%;
}

object{
	border-radius: 10px;
	background-size:contain;
	width: 100%;
	height: 100%;
}

b{
	color:000;
}

h1,h2,h3{
	margin:5px 0px;
}

hr{
	margin:10px 0px;
}

#main{
	margin:10px 0;
}

.subtitle{
	color:var(--highlight);
}

a:link{
	text-decoration: none;
	color: var(--highlight);
}

a:visited{
	text-decoration: underline;
	color: var(--highlight-dark);
}

a:hover{
	text-decoration: underline;
}

a.headerlink:link{
	color:var(--text);
}

a.headerlink:visited{
	color: var(--text);
}

a.headerlink:hover{
	color:var(--highlight);
	text-decoration: none;
}

@media (prefers-color-scheme: dark){
	
	:root{
	--background: #444;
	--text: #d5d5d5;
	--borders: #111;
	--highlight: #6295c6;
	--highlight-dark: #8051ba;
	}
	
	body{
		background-image:url("./resources/backgrounddark2.jpg");
	}
	
	#maincontent{
		box-shadow: 2px 2px 4px #111;
	}
}